.reward-wall-window {
  position: relative;
  width: 506px;
  height: 495px;
  display: block;
  color: #c7c7c7;
  ttf-font: verdana-bold;
  font: Verdana Bold-11px;
}

.reward-wall-window button {
  font: cipsoftFont;
  color: #e4e4e4;
}

.history-panel {
  height: 445px;
}

.history-list {
  background-color: #363636;
  display: block;
  border-color: #00000077;
  border-width: 1px;
  width: 98%;
}

.content-panel {
  width: 529px;
  height: 136px;
  margin-left: 5px;
  margin-top: -5px;
}

#restingAreaPanel {
  width: 529px;
  height: 126px;
  margin-left: 2px;
  margin-top: 0px;
}

#dailyRewardsPanel {
  width: 529px;
  height: 139px;
  margin-left: 2px;
  margin-top: 0px;
}

.resting-area-info {
  margin-left: -4px;
  height: 112px;
  width: 108px;
}

.resting-area-icon {
  margin-left: 10px;
  width: 25px;
  height: 49px;
  font: Verdana Bold-11px;
  --image-size: 66 44;
  --image-offset-y: 7;
  --image-fixed-ratio: true;
  --text-offset: 29 2;
}

.resting-area-time-container {
  width: 65px;
  height: 20px;
  margin-left: 5;
  position: relative;
  --fixed-size: true;
  --image-border: 3;
  --image-source: /images/ui/test/button-verydarkgrey-down;
}

.resting-area-time-bar {
  position: absolute;
  left: 1;
  top: 1;
  right: 0;
  bottom: 1;
  --image-source: /game_rewardwall/images/progressbar-orange-large;
  --image-auto-resize: true;
}

.resting-area-time-cooldown {
  width: 65px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  --text-auto-resize: false;
  color: #dfdfdf;
  font: Verdana Bold-11px;
}

#bonusIcon1 {
  --icon-clip: 0 0 64 64;
  width: 100%;
}

#bonusIcon2 {
  --icon-clip: 64 0 64 64;
  width: 100%;
}

#bonusIcon3 {
  --icon-clip: 128 0 64 64;
  width: 100%;
}

#bonusIcon4 {
  --icon-clip: 192 0 64 64;
  width: 100%;
}

#bonusIcon5 {
  --icon-clip: 256 0 64 64;
  width: 100%;
}

#bonusIcon6 {
  --icon-clip: 320 0 64 64;
  width: 100%;
}

.resting-area-gold {
  width: 65px;
  height: 20px;
  margin-left: 5;
  --fixed-size: true;
  font: Verdana Bold-11px;
}

.bonus-warning-container {
  margin-left: 70px;
  margin-top: 5px;
  width: 395px;
}

.bonus-icons-container {
  margin-left: 0;
  margin-top: 0;
  width: 395px;
  height: 70px;
  --phantom: true;
}

.premium-message {
  height: 38px;
  width: 100%;
  margin-top: -6;
  --text-auto-resize: false;
  white-space: pre-line;
  text-align: center;
  display: block;
}

.daily-rewards-panel {
  height: 139px;
  padding-left: 25px;
}

.reward-item {
  width: 66px;
  height: 95px;
  margin-top: -5px;
}

.reward-button {
  width: 68px;
  height: 68px;
}

.reward-label {
  width: 68px;
  height: 22px;
  font: Verdana Bold-11px;
}

.reward-arrow {
  --image-offset: 1 25;
  --image-clip: 0 0 5 7;
  width: 5px;
  height: 7px;
  --image-auto-resize: false;
  --image-size: 5 7;
}

.reward-arrow-loop {
  margin-bottom: 7px;
  --image-offset: -464 90;
  --image-size: 435 13;
  --phantom: true;
}

.premium-panel {
  height: 55px;
  width: 22px;
  --image-source: /images/ui/2pixel_up_frame_borderimage; 
  --image-border: 3; 
  --text-offset: 15 -15;
  text-wrap: true; 
  padding: 10 10 10 10;
  display: block; 
}

.info-label {
  white-space: pre-wrap;
}

.premium-info2 {
  height: 38px;
  width: 350px;
  margin-left: -0px;
  margin-top: -5px;
}

.premium-button {
  float: right;
}

.infoPanel {
  height: 92px;
  text-align: left
}

.free-info {
  text-align: top-left;
  text-wrap: true;
  width: 255px;
  color: #808080;
}

.premium-info {
  margin-left: 58px;
  text-align: top-left;
  text-wrap: true;
  width: 255px;
}

.footer-panel {
  width: 506px;
  height: 126px;
  margin-left: 5px;
}

.footer-separator {
  width: 540px;
  height: 2px;
}

.footer-gold-1 {
  width: 30px;
  height: 22px;
  margin-top: 120px;
  font: Verdana Bold-11px;
}

.footer-gold-2 {
  height: 22px;
  width: 50px;
  margin-left: 5px;
  margin-top: 10px;
  font: Verdana Bold-11px;
}

.instant-reward-button {
  margin-top: 10px;
  margin-left: 5px;
}

.action-button {
  font: cipsoftFont;
  --text-auto-resize: true;
}
.close-button {
  margin-left: 5px;
  float: right;
  text-align: center;
  vertical-align: center;
}
.history-button {
  float: right;
  margin-right: 10px;
}

.imgBonusesCss {
  width: 66px;
  height: 60px;
  margin-left: 1px;
}


.bottom-panel { 
  text-wrap: true; 
  --image-source: /images/ui/2pixel_up_frame_borderimage; 
  --image-border: 3; 
  display: block; 
  margin-top: 10px; 
  height: 95px; 
  width: 100%; 
  --text-offset: 10 2;
 }
